extends layout

block content

    div.container
        h2 #{title}
        hr
        form(id=`question-form`)
            h5 Номер телефона
                strong *
            div.form-group
                input(
                    name="phone"
                    type="text"
                    class="form-control "
                    id="input_phone"
                    aria-describedby="validatedInputGroupPrepend"
                    autocomplete="off"
                    required
                )
                div(class="valid-feedback d-none") Имя организации, в случае верификации
                div(class="invalid-feedback d-none") Ошибка соединения с сервером
                input(name="company" id="input_company" hidden)

            h5 Имя
                strong *
            div.input-group
                input(
                    name="name"
                    type="text"
                    class="form-control"
                    id="input_name"
                    autocomplete="off"
                    maxlength="50"
                    required
                )
            br
            h5 Текст обращения
                strong *
            div.form-group
                textarea(
                    name="text"
                    class="form-control"
                    id="textarea_message"
                    rows="5"
                    required
                    maxlength="2000"
                )
            button(id="send_button" type="submit" class="btn btn-primary" disabled) Отправить
            button(id="spinner_button" type="button" class="btn btn-primary d-none" disabled)
                span(class="is-load") Отправка
                span(class="spinner-border spinner-border-sm" role="status" aria-hidden="true")

